@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans";
  text-align: center;
}

h1 {
  font-size: 40px;
}

.board {
  background: #bbada0;
  width: 472px;
  height: 472px;
  margin: 0 auto 0 auto;  /* top, right, bottom, left */
  padding: 8px;
  display: block;
}

.heading {
  font-size: 30;
}

.cell {
  background: rgba(238, 208, 218, 0.50);
  /*border: 1px solid #c199c1;*/
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 2em;
  margin: 7px;
  height: 100px;
  width: 100px;
  float: left;
}

.gameover {
  display: none;
  width: 400px;
  height: 400px;
}

.cell div {
  margin-top: 28px;
}

